name: Jekyll CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Configurar Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Instalar dependências do Jekyll
        run: |
          gem install bundler
          bundle install

      - name: Build do site Jekyll
        run: bundle exec jekyll build

      - name: Upload do build como artefato
        uses: actions/upload-artifact@v3
        with:
          name: site-gerado
          path: _site/
